.h-bg-linear{
    background: linear-gradient(#7000FF,#11002D);
}
.h-bg-transparent{
    background-color: transparent;
}
.iconSize-24{
    display: block;
    width: 24px;
    height: 24px;
}
.h-boxshaw:hover{
    box-shadow: 0 0 16px 8px rgba(143, 0, 255, 0.8);
}
.aHoverPrimary:hover{
    color: $primary !important;
}
.h-radialGradienStyle-1{
    background: url(../images/index/carousel_background.svg);
}
.h-radialGradienStyle-2{
    background: radial-gradient(#28085C,#000000);
}
.h-radialGradienStyle-3{
    background: radial-gradient(#000000,#28085C);
}
.h-background-blend-mode{
    background-blend-mode: darken;
}
@include xl{
    .h-bg-linear{
        .container-fluid:nth-child(3){
            position: relative;
            overflow: hidden;
            &::before{
                position: absolute;
                content: "";
                width: 200%;
                height: 1px;
                background: #B983FFB2;
                top: 450px;
                left: -705px;
                rotate: 19.44deg;
            }
            &::after{
                position: absolute;
                content: "";
                width: 200%;
                height: 1px;
                background: #B983FFB2;
                top: 220px;
                left: -650px;
                rotate: -7.89deg;
            }
        }
    }
    .h-radialGradienStyle-1{
        background: radial-gradient(#300871,#000000);
    }
    .h-border-bottom-xl-0{
        border-bottom-width: 0px !important;
    }
    .h-border-bottom-xl-1{
        border-bottom: 1px solid #FFF !important;
    }
    .h-border-end-xl-1{
        border-right: 1px solid #FFF;
    }
    .h-border-bottom-xl-1{
        border-bottom: 1px solid #FFF;
    }
    .h-background-blend-mode{
        background-color: #000 !important;
        &:hover{
            background-color: transparent !important;
            cursor: pointer;
        }
        &:active{
            background-color: transparent !important;
        }
    }
}
@include xxxl{
    .h-bg-linear{
        padding-bottom: 0px !important;
        margin-bottom: -104px;
        .container-fluid:nth-child(3){
            &::before{
                top: 450px;
                left: -705px;
            }
            &::after{
                top: 220px;
                left: -650px;
            }
        }
    }
}