.h-bg-linear{
    background: linear-gradient(#7000FF,#11002D);
    margin-bottom: -104px;
}
.h-bg-transparent{
    background-color: transparent;
}
.h-boxshaw:hover{
    box-shadow: 0 0 16px 8px rgba(143, 0, 255, 0.8);
}
.h-a-HoverPrimary:hover{
    color: $primary !important;
}
.h-radialGradienStyle-1{
    background: url(../images/index/carousel_background.svg);
}
.h-radialGradienStyle-2{
    background: radial-gradient(#28085C,#000000);
}
.h-radialGradienStyle-3{
    background: radial-gradient(#000000,#28085C);
}
.h-radialGradienStyle-4{
    background: radial-gradient(#300871,#000000);
}
.h-background-blend-mode{
    background-blend-mode: darken;
}


//animate
.h-fadeToggle{
    opacity: 0;
}

@include lg{
    .h-lg-hover-underline{
        border-bottom: 2px solid #FFF;
        &:hover{
            border-color: #000;
        }
    }
    .h-hover-lg-primary:hover{
        .material-symbols-outlined{
            color: $primary;
        }
    }
    .h-hover-lg-opacity:hover{
        img{
            opacity: 0.5;
        }
    }
}
@include xl{
    .h-radialGradienStyle-1{
        background: radial-gradient(#300871,#000000);
    }
    .h-border-bottom-xl-0{
        border-bottom-width: 0px !important;
    }
    .h-border-bottom-xl-1{
        border-bottom: 1px solid #FFF !important;
    }
    .h-border-end-xl-1{
        border-right: 1px solid #FFF;
    }
    .h-border-bottom-xl-1{
        border-bottom: 1px solid #FFF;
    }
    .h-background-blend-mode{
        background-color: #000 !important;
        transition: ease 0.8s;
        &:hover{
            background-color: transparent !important;
            cursor: pointer;
        }
        &:active{
            background-color: transparent !important;
        }
    }
}
@include xxxl{
    //bootstrap carousel
    .carousel-control-prev,.carousel-control-next{
        opacity: 1 !important;
        &:hover{
            opacity: 0.5 !important;
        }
    }
}