.h-bg-linear{
    background: linear-gradient(#7000FF,#11002D);
}
.h-bg-transparent{
    background-color: transparent;
}
.iconSize-24{
    display: block;
    width: 24px;
    height: 24px;
}
.boxshaw:hover{
    box-shadow: 0 0 16px 8px rgba(143, 0, 255, 0.8);
}
.aHoverPrimary:hover{
    color: $primary !important;
}
.radialGradienStyle-1{
    background: radial-gradient(#300871,#000000);
}
.radialGradienStyle-2{
    background: radial-gradient(#28085C,#000000);
}
.radialGradienStyle-3{
    background: radial-gradient(#000000,#28085C);
}
.background-blend-mode{
    background-color: #000;
    background-blend-mode: darken;
    &:hover{
        background-color: transparent !important;
        cursor: pointer;
    }
    &:active{
        background-color: transparent !important;
    }
}