<div class="bg-white">
    <div class="ps-10 ps-lg-0 py-10 pt-lg-12 pb-lg-19 container d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center position-lg-relative">
        <a class="fst-italic fs-5 text-black mb-2 mb-lg-0" href="index.html">ALPHABOX+</a>
        <img src="../assets/images/index/multiply-black-icon.svg" alt="multiply white icon" class="mb-2 mb-lg-0 position-lg-absolute" style="width: 80px; height: 80px; left: calc(50% - 40px); top: calc(50% - 40px)">
        <ul class="list-group flex-lg-row align-self-lg-end">
            <li class="list-group-item mb-2 mb-lg-0 me-lg-6 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">關於我們</a></li>
            <li class="list-group-item mb-2 mb-lg-0 me-lg-6 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">產品資訊</a></li>
            <li class="list-group-item mb-2 mb-lg-0 me-lg-6 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">常見問題</a></li>
            <li class="list-group-item mb-2 mb-lg-0 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">隱私政策</a></li>
        </ul>
        <p class="font-noto fw-bold letterspc-10 text-black position-lg-absolute" style="top: 96px;">Copyright © 2023 Hexschool.</p>
    </div>
</div>