<div class="bg-white">
    <div class="ps-10 ps-xl-0 py-10 py-xl-12 container d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center position-xl-relative">
        <a class="fst-italic fs-5 text-black mb-2 mb-xl-0" href="index.html">ALPHABOX+</a>
        <img src="../assets/images/index/multiply-black-icon.svg" alt="multiply white icon" class="mb-2 mb-xl-0" style="width: 80px; height: 80px;">
        <ul class="list-group flex-xl-row">
            <li class="list-group-item mb-2 mb-xl-0 me-xl-6 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">關於我們</a></li>
            <li class="list-group-item mb-2 mb-xl-0 me-xl-6 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">產品資訊</a></li>
            <li class="list-group-item mb-2 mb-xl-0 me-xl-6 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">常見問題</a></li>
            <li class="list-group-item mb-2 mb-xl-0 p-0 border-0 bg-white"><a class="text-black fw-bold" href="#">隱私政策</a></li>
        </ul>
        <p class="font-noto fw-bold letterspc-10 text-black position-xl-absolute" style="bottom: 48px;">Copyright © 2023 Hexschool.</p>
    </div>
</div>