<div class="bg-white">
    <div class="py-xl-12 container d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
            <a class="fst-italic fs-xl-5 text-black" href="index.html">ALPHABOX+</a>
            <p class="font-noto fw-bold letterspc-10 text-black">Copyright © 2023 Hexschool.</p>
        </div>
        <img src="../assets/images/index/multiply-white-icon.svg" alt="multiply white icon" style="width: 80px; height: 80px;">
        <ul class="list-group flex-row">
            <li class="list-group-item border-0 bg-white"><a class="text-black fw-bold" href="#">關於我們</a></li>
            <li class="list-group-item border-0 bg-white"><a class="text-black fw-bold" href="#">產品資訊</a></li>
            <li class="list-group-item border-0 bg-white"><a class="text-black fw-bold" href="#">常見問題</a></li>
            <li class="list-group-item border-0 bg-white"><a class="text-black fw-bold" href="#">隱私政策</a></li>
        </ul>
    </div>
</div>