<div class="h-bg-transparent h-border-bottom-xl-1">
    <div class="container py-4">
        <nav class="navbar navbar-expand-lg flex-xl-grow-1 py-0">
            <a href="index.html" class="flex-xl-grow-1">
                <img src="../assets/images/index/logo.svg" alt="logo pic" class="logo d-block" style="width: 156px;height: 36px;">
            </a>
            <button class="navbar-toggler fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pt-6 pb-8 py-xl-0" id="navbarMenu">
                <div class="navbar-nav align-items-center container-fluid">
                    <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 text-center fw-medium mx-xl-5 active" aria-current="page" href="#">產品</a>
                    <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 text-center fw-medium mx-xl-5" href="#">關於我們</a>
                    <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 text-center fw-medium mx-xl-5" href="#">最新消息</a>
                    <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 text-center fw-medium mx-xl-5 font-noto" href="#">FAQ</a>
                    <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 text-center fw-medium mx-xl-5" href="#">聯絡我們</a>
                    <div class="w-100 w-xl-auto text-center d-flex flex-column flex-xl-row align-items-center ms-xl-auto">
                        <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 fw-medium" href="#">註冊</a>
                        <a class="nav-link w-100 w-xl-auto mb-1 mb-xl-0 py-2 py-xl-0 fw-medium ms-xl-6" href="#">登入</a>
                        <a class="nav-link bg-white aHoverPrimary rounded-1 py-2 px-4 fw-medium d-flex align-items-center ms-xl-8" href="#" type="button" style="color: black;"><img src="../assets/images/index/subscription.svg" alt="subscription icon" class="iconSize-24 me-1">訂閱</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>