.index-swiper{
    overflow: initial;
    .swiper-slide{
        width: 351px !important;
        height: 351px !important;
    }
}
@include lg{
    .index-swiper{
        .swiper-slide{
            width: 288px !important;
            height: 288px !important;
        }
    }
    .swiper-scrollbar-drag{
        background-color: #FFF;
    }
    .swiper-scrollbar {
        background-color: gray;
    }
}
@include xl{
    .index-swiper{
        //overflow: initial;
        .swiper-slide{
            width: 416px !important;
            height: 416px !important;
        }
    }
}