.about{
    .bg-white{
        .fakeDecorate{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 80px;
                height: 12px;
                background-color: #E9E2F3;
                mix-blend-mode: darken;
                left: -8px;
                bottom: 0;
            }
        }
    }
}
@include lg{
    .about{
        .h-radialGradienStyle-4{
            .fw-medium:nth-child(1){
                width: 48.996914%;
            }
            .banner{
                height: 280px !important;
            }
            .container:nth-child(3){
                img{
                    margin-right: 25px !important;
                }
            }
        }
        .img-group>img{
            width: 29.535865% !important; //560px
        }
        .bg-white{
            .d-flex:nth-child(3){
                width: 92.827004% !important;
                p:nth-child(1){
                    width: 43.068182% !important;
                }
                p:nth-child(2){
                    width: 32.954546% !important;
                }
            }
            .fakeDecorate{
                position: relative;
                z-index: 1;
                &::before{
                    position: absolute;
                    content: "";
                    width: 80px;
                    height: 12px;
                    background-color: #E9E2F3;
                    mix-blend-mode: darken;
                    left: -8px;
                    bottom: 0;
                }
            }
            
        }
        .decorate{
            width: 92.827004% !important;
        }
    }
}
@include xxxl{
    .about{
        .img-group>img{
            width: 560px !important;
        }
        .bg-white{
            .d-flex:nth-child(3){
                width: 1760px !important;
                p:nth-child(1){
                    width: 758px !important;
                }
                p:nth-child(2){
                    width: 580px !important;
                }
            }
            
        }
        .decorate{
            width: 1760px !important;
        }
    }
}