.contact{
    label:after{
        background: #FFF !important;
    }
}
@include xl{
    .contact{
        .bg-white{
            .container-fluid{
                padding-bottom: 232px !important;
            }
        }
    }
}