.faq{
    button{
        .addIcon{
            display: none;
        }
        .removeIcon{
            display: block;
        }
        &:not(.collapsed){
            .addIcon{
                display: block;
            }
            .removeIcon{
                display: none;
            }
        }
    }
}
@include lg{
    .faq{

    }
}