.faq{
    button{
        .addIcon{
            display: block;
        }
        .removeIcon{
            display: none;
        }
        &:not(.collapsed){
            .addIcon{
                display: none;
            }
            .removeIcon{
                display: block;
            }
        }
    }
}
@include lg{
    .faq{
        .col-lg-4:nth-child(1)>div{
            border-width: 0 !important;
        }
    }
}