h1{
    span{
        letter-spacing: 0em !important;
    }
}
.h-radialGradienStyle-1{
    .container-fluid:nth-child(2),.container-fluid:nth-child(4){
        .decorate{
            width: calc(100% - 24px);
            height: 40px;
        }
    }
}
.h-radialGradienStyle-3{
    .container-fluid:nth-child(2){
        .index-swiper{
            pointer-events: none;
        }
    }
}
@include md{
    .h-bg-linear{
        .container-fluid:nth-child(3){
            p{
                width: 51;
            }
            a{
                width: 24.489796% !important;
            }
            a:nth-child(1),a:nth-child(4){
                height: 451px !important;
                margin-top: -96px;
            }
        }
    }
    .h-radialGradienStyle-1{
        padding-top: 204px !important;
        .container-fluid:nth-child(2),.container-fluid:nth-child(4){
            .decorate{
                width: calc(100% - 24px);
                height: 40px;
            }
        }
    }
    .h-radialGradienStyle-3{
        .container:nth-child(3){
            p{
                left: -30px !important;
            }
        }
    }
    .container-fluid:nth-child(6){
        .product{
            height: 576px !important;
        }
    }
}
@include lg{
    .h-bg-linear{
        .container-fluid:nth-child(3){
            a:nth-child(1){
                background: url(../assets/images/index/diane.svg) center center no-repeat !important;
                background-size: cover !important;
            }
            a:nth-child(2){
                background: url(../assets/images/index/felix.svg) center center no-repeat !important;
                background-size: cover !important;
            }
            a:nth-child(3){
                background: url(../assets/images/index/karina.svg) center center no-repeat !important;
                background-size: cover !important;
                margin-bottom: 0 !important;
            }
            a:nth-child(4){
                background: url(../assets/images/index/vito.svg) center center no-repeat !important;
                background-size: cover !important;
            }
            a{
                width: 24.489796% !important;
            }
            a:nth-child(1),a:nth-child(4){
                height: 476px !important;
                margin-top: -96px;
            }
            a:nth-child(2),a:nth-child(3){
                height: 380px !important;
            }
            p{
                width: 49.6599%;
            }
        }
    }
    .h-radialGradienStyle-1{
        padding-top: 204px !important;
        .carousel{
            height: 360px !important;
        }
    }
    .h-radialGradienStyle-3{
        .container-fluid:nth-child(2){
            .swiper{
                pointer-events: inherit;
            }
        }
        .container:nth-child(3){
            p{
                left: 0px !important;
            }
        }
    }
    .container-fluid:nth-child(6){
        .col-6>div{
            height: 876px !important;
        }
    }
}
@include xl{
    .h-bg-linear{
        .container-fluid:nth-child(2){
            a,div:nth-child(3){
                width: 26.1% !important;
            }
        }
        .container-fluid:nth-child(3){
            a:nth-child(1){
                background: url(../images/index/diane.svg) center center no-repeat !important;
                background-size: cover !important;
            }
            a:nth-child(2){
                background: url(../images/index/felix.svg) center center no-repeat !important;
                background-size: cover !important;
            }
            a:nth-child(3){
                background: url(../images/index/karina.svg) center center no-repeat !important;
                background-size: cover !important;
                margin-bottom: 0 !important;
            }
            a:nth-child(4){
                background: url(../images/index/vito.svg) center center no-repeat !important;
                background-size: cover !important;
            }
            a{
                width: 24.489796% !important;
            }
            a:nth-child(1),a:nth-child(4){
                height: 576px !important;
                margin-top: -96px;
            }
            a:nth-child(2),a:nth-child(3){
                height: 480px !important;
            }
            p{
                width: 49.6599%;
            }
        }
    }
    .h-radialGradienStyle-1{
        padding-top: 244px !important;
        .carousel{
            height: 460px !important;
        }
    }
    .ge-xl-0{
        margin-right: -12px;
    }
    .gs-xl-0{
        margin-left: -12px;
    }
    .h-radialGradienStyle-3{
        .container:nth-child(3){
            p{
                font-size: 400px !important;
                top: -327px !important;
                left: -607px !important;
            }
        }
    }
    .bg-quinary{
        .img-group{
            img{
                line-height: 12px !important;
                &:nth-child(1){
                    width: 12px !important;
                    height: 12px !important;
                }
                &:nth-child(2){
                    height: 12px !important;
                }
            }
        }
        .btn-tertiary{
            width: 55.764075% !important;
        }
    }
}
@include xxl{
    .h-bg-linear{
        .container-fluid:nth-child(2){
            a,div:nth-child(3){
                width: 23.636364% !important;
            }
        }
        .container-fluid:nth-child(3){
            a{
                width: 23.636364% !important;
            }
            a:nth-child(1),a:nth-child(4){
                height: 676px !important;
                margin-top: -96px;
            }
            a:nth-child(2),a:nth-child(3){
                height: 580px !important;
            }
            p{
                width: 100%;
            }
        }
    }
    .h-radialGradienStyle-1{
        padding-top: 144px !important;
        .carousel{
            height: 560px;
        }
    }
}
@include xxxl{
    .h-bg-linear{
        .container-fluid:nth-child(2){
            a,div:nth-child(3){
                width: 416px !important;
            }
        }
        .container-fluid:nth-child(3){
            a{
                width: 416px !important;
            }
        }
    }
    h1{
        span{
            letter-spacing: 2.5em !important;
        }
    }
    .h-radialGradienStyle-1{
        .container:nth-child(3){
            button{
                display: block !important;
            }
        }
        .container-fluid:nth-child(2),.container-fluid:nth-child(4){
            .decorate{
                width: calc(100% - 160px);
            }
        }
    }
}
