<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- customer -->
    <title>AI 虛擬陪伴 Contact</title>
    <link rel="shirt icon" href="../assets/images/web-icon.png">
    <meta name="description" content="AI 虛擬陪伴">
    <meta name="keywords" content="AI虛擬陪伴,Red,Tsai">
    <meta property="og:title" content="AI 虛擬陪伴 by Red Tsai">
    <meta property="og:description" content="AI 虛擬陪伴 by Red Tsai">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/cut-class-week8/">
    <meta property="og:image" content="https://i.imgur.com/qUhQiR6.jpg">
    <link rel="apple-touch-icon" href="../assets/images/web-icon.png">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="contact">
        <div class="h-radialGradienStyle-2">
            <div class="container pt-15 pb-20 py-lg-25">
                <h1 class="fs-4 fs-lg-2 font-noto fw-bold fw-xl-heavy letterspc-100 mb-10 mb-lg-4">聯絡我們</h1>
                <div class="row justify-content-around">
                    <div class="col-12 col-lg-6 mb-15 mb-lg-0">
                        <p class="font-noto mb-8 mb-lg-16">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24 小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
                        <p class="font-noto fw-bold mb-8 mb-lg-16">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>
                        <form action="#contact.html">
                            <div class="form-floating mb-2 mb-lg-4">
                                <input type="name" class="form-control text-quinary fs-7 fs-lg-6 bg-white py-2 ps-22" id="name" placeholder="姓名" name="name">
                                <label class="font-noto text-quinary fs-7 fs-lg-6 fw-bold py-2 ps-4 pe-0" for="name">姓名</label>
                            </div>
                            <div class="form-floating mb-2 mb-lg-4">
                                <input type="email" class="form-control text-quinary fs-7 fs-lg-6 bg-white py-2 ps-22" id="mail" placeholder="EMAIL" name="mail">
                                <label class="font-noto text-quinary fs-7 fs-lg-6 fw-bold py-2 ps-4 pe-0" for="mail">EMAIL</label>
                            </div>
                            <div class="form-floating mb-2 mb-lg-4">
                                <input type="phone" class="form-control text-quinary fs-7 fs-lg-6 bg-white py-2 ps-22" id="phone" placeholder="聯絡電話" name="phone">
                                <label class="font-noto text-quinary fs-7 fs-lg-6 fw-bold py-2 ps-4 pe-0" for="phone">聯絡電話</label>
                            </div>
                            <div class="form-floating mb-2 mb-lg-4">
                                <textarea class="form-control text-quinary fs-7 fs-lg-6 bg-white py-2 ps-22" placeholder="COMMENT" id="textarea2" style="height: 120px; resize: none;" name="suggest"></textarea>
                                <label class="font-noto text-quinary fs-7 fs-lg-6 fw-bold py-2 ps-4 pe-0" for="textarea2">COMMENT</label>
                            </div>
                            <button type="submit" class="bg-tertiary w-100 py-2 d-flex justify-content-center align-items-center fs-7 fs-lg-6 text-white">
                                <img src="../assets/images/contact/subscription-white-icon.svg" alt="logo icon" style="width: 24px; height: 24px;">
                                送出
                            </button>
                        </form>
                    </div>
                    <div class="col-12 col-lg-3">
                        <ul class="list-group">
                            <li class="list-group-item border-0 p-0 mb-10" style="background-color: transparent;">
                                <p style="opacity: 50%;">客服時間</p>
                                <p class="font-noto">週一至週五 09:00-18:00</p>
                            </li>
                            <li class="list-group-item border-0 p-0 mb-10" style="background-color: transparent;">
                                <p style="opacity: 50%;">聯絡地址</p>
                                <p class="font-noto">高雄市新興區民生一路 56 號</p>
                            </li>
                            <li class="list-group-item border-0 p-0 mb-lg-10" style="background-color: transparent;">
                                <p style="opacity: 50%;">聯絡地址</p>
                                <a href="tel:+886-2-12345678" target="_blank" class="font-noto fw-lightist">+886-2-12345678</a>
                                <a href="mailto:mailto:customer@alphabox.com" target="_blank" class="font-noto fw-lightist">mailto:customer@alphabox.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid g-0 h-border-top-xl-1 pt-lg-10 pb-lg-12">
                <div class="container">
                    <div class="row justify-content-lg-end">
                        <div class="col-lg-6 col-xl-5">
                            <ul class="list-group flex-lg-row justify-content-between py-10 py-lg-0 h-border-top-lg-0" style="border-top: 1px solid #FFF;">
                                <li class="list-group-item border-0 p-0 mb-4 mb-lg-0" style="background-color: transparent;"><a class="list-group-link font-noto fw-light" target="_blank" href="https://www.instagram.com/">INSTAGRAM</a></li>
                                <li class="list-group-item border-0 p-0 mb-4 mb-lg-0" style="background-color: transparent;"><a class="list-group-link font-noto fw-light" target="_blank" href="https://zh-tw.facebook.com/">FACEBOOK</a></li>
                                <li class="list-group-item border-0 p-0 mb-4 mb-lg-0" style="background-color: transparent;"><a class="list-group-link font-noto fw-light" target="_blank" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiemgtSGFudCJ9%22%7D">TWITTER</a></li>
                                <li class="list-group-item border-0 p-0" style="background-color: transparent;"><a class="list-group-link font-noto fw-light" target="_blank" href="https://tw.linkedin.com/">LINKEDIN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white pt-15 pt-lg-25 pb-lg-22 overflow-xl-hidden">
            <div class="container">
                <h2 class="fs-4 fs-lg-3 fs-xl-2 text-black fw-bold fw-lg-heavy letterspc-100 mb-4 mb-lg-6">選擇自己要的角色</h2>
                <p class="fs-10 fs-lg-5 fs-xl-3 fw-heavy text-black font-noto mb-6 mb-lg-20"><span class="text-tertiary me-2 me-lg-6">20K+</span> 選擇自己要的角色</p>
            </div>
            <div class="container-fluid g-0 position-relative">
                <img src="../assets/images/contact/diane_horizontal.svg" alt="Diane pic" class="object-fit-cover w-100 w-xxxl-auto d-none d-xl-block position-xl-absolute" data-aos="fade-right">
                <img src="../assets/images/contact/diane_choose.svg" alt="Diane pic" class="d-xl-none" data-aos="zoom-in-up">
                <div class="container position-absolute top-50 start-50 translate-middle">
                    <p class="fs-4 fs-lg-3 fs-xl-2 fst-italic">Diane</p>
                </div>
            </div>
            <div class="container-fluid g-0 position-relative">
                <img src="../assets/images/contact/felix_horizontal.svg" alt="Felix pic" class="object-fit-cover w-100 w-xxxl-auto d-none d-xl-block position-xl-absolute end-0" data-aos="fade-left">
                <img src="../assets/images/contact/felix_choose.svg" alt="Felix pic" class="d-xl-none" data-aos="zoom-in-up">
                <div class="container position-absolute top-50 start-50 translate-middle">
                    <p class="fs-4 fs-lg-3 fs-xl-2 fst-italic text-end">Felix</p>
                </div>
            </div>
            <div class="container-fluid g-0 position-relative">
                <img src="../assets/images/contact/karina_horizontal.svg" alt="Karina pic" class="object-fit-cover w-100 w-xxxl-auto d-none d-xl-block position-xl-absolute" data-aos="fade-right">
                <img src="../assets/images/contact/karina_choose.svg" alt="Karina pic" class="d-xl-none" data-aos="zoom-in-up">
                <div class="container position-absolute top-50 start-50 translate-middle">
                    <p class="fs-4 fs-lg-3 fs-xl-2 fst-italic">Karina</p>
                </div>
            </div>
            <div class="container-fluid g-0 position-relative">
                <img src="../assets/images/contact/vito_horizontal.svg" alt="Vito pic" class="object-fit-cover w-100 w-xxxl-auto d-none d-xl-block position-xl-absolute end-0" data-aos="fade-left">
                <img src="../assets/images/contact/vito_choose.svg" alt="Vito pic" class="d-xl-none" data-aos="zoom-in-up">
                <div class="container position-absolute top-50 start-50 translate-middle">
                    <p class="fs-4 fs-lg-3 fs-xl-2 fst-italic text-end">Vito</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- own js -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/contact.js"></script>
  </body>
</html>
