<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- customer -->
    <title>AI 虛擬陪伴 News</title>
    <link rel="shirt icon" href="../assets/images/web-icon.png">
    <meta name="description" content="AI 虛擬陪伴">
    <meta name="keywords" content="AI虛擬陪伴,Red,Tsai">
    <meta property="og:title" content="AI 虛擬陪伴 by Red Tsai">
    <meta property="og:description" content="AI 虛擬陪伴 by Red Tsai">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/cut-class-week8/">
    <meta property="og:image" content="https://i.imgur.com/qUhQiR6.jpg">
    <link rel="apple-touch-icon" href="../assets/images/web-icon.png">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="faq">
        <div class="bg-gray-customer pt-15 pt-lg-16 pb-20 pb-lg-22">
            <div class="container">
                <h1 class="fs-4 fs-lg-3 font-noto fw-bold fw-lg-heavy text-quinary letterspc-100 mb-0 pb-10 pb-lg-16" style="border-bottom: 2px dotted #FFF;">FAQ</h1>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="d-flex flex-column py-6 pt-lg-10 pb-lg-0" style="border-bottom: 2px dotted #FFF;">
                            <a href="#" class="font-noto fw-medium text-quinary mb-4">
                                ALPHABOX+ 使用問題
                            </a>
                            <a href="#" class="font-noto fw-medium text-quinary mb-4">
                                訂購與運送
                            </a>
                            <a href="#" class="font-noto fw-medium text-quinary">
                                產品保養與維修
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 d-flex flex-column">
                        <ul class="accordion list-unstyled" id="accordionFaq">
                            <li class="accordion-item py-6 py-lg-8" style="border-bottom: 2px dotted #FFF;">
                                <button class="accordion-button text-start p-0 font-noto fw-medium text-quinary fs-7 bg-gray-customer border-0 w-100 d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ALPHABOX+ 的使用方式是什麼？
                                    <span class="material-symbols-outlined fs-4 addIcon">
                                        add
                                    </span>
                                    <span class="material-symbols-outlined fs-4 removeIcon">
                                        remove
                                    </span>
                                </button>
                              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                  <p class="text-quinary font-noto mt-2 my-lg-2 me-lg-16">
                                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="accordion-item py-6 py-lg-8" style="border-bottom: 2px dotted #FFF;">
                              <button class="accordion-button text-start p-0 font-noto fw-medium text-quinary fs-7 bg-gray-customer border-0 w-100 d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                ALPHABOX+ 需要什麼樣的環境來使用？
                                <span class="material-symbols-outlined fs-4 addIcon">
                                    add
                                </span>
                                <span class="material-symbols-outlined fs-4 removeIcon">
                                    remove
                                </span>
                              </button>
                              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                  <p class="text-quinary font-noto mt-2 my-lg-2 me-lg-16">
                                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="accordion-item py-6 py-lg-8" style="border-bottom: 2px dotted #FFF;">
                              <button class="accordion-button text-start p-0 font-noto fw-medium text-quinary fs-7 bg-gray-customer border-0 w-100 d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                ALPHABOX+ 支援哪些語言？
                                <span class="material-symbols-outlined fs-4 addIcon">
                                    add
                                </span>
                                <span class="material-symbols-outlined fs-4 removeIcon">
                                    remove
                                </span>
                              </button>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                  <p class="text-quinary font-noto mt-2 my-lg-2 me-lg-16">
                                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="accordion-item py-6 py-lg-8" style="border-bottom: 2px dotted #FFF;">
                              <button class="accordion-button text-start p-0 font-noto fw-medium text-quinary fs-7 bg-gray-customer border-0 w-100 d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                ALPHABOX+ 的軟體更新方式為何？
                                <span class="material-symbols-outlined fs-4 addIcon">
                                    add
                                </span>
                                <span class="material-symbols-outlined fs-4 removeIcon">
                                    remove
                                </span>
                              </button>
                              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                  <p class="text-quinary font-noto mt-2 my-lg-2 me-lg-16">
                                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="accordion-item py-6 py-lg-8" style="border-bottom: 2px dotted #FFF;">
                              <button class="accordion-button text-start p-0 font-noto fw-medium text-quinary fs-7 bg-gray-customer border-0 w-100 d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                購買 ALPHABOX+ 後的售後服務如何？
                                <span class="material-symbols-outlined fs-4 addIcon">
                                    add
                                </span>
                                <span class="material-symbols-outlined fs-4 removeIcon">
                                    remove
                                </span>
                              </button>
                              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                  <p class="text-quinary font-noto mt-2 my-lg-2 me-lg-16">
                                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="accordion-item py-6 py-lg-8" style="border-bottom: 2px dotted #FFF;">
                              <button class="accordion-button text-start p-0 font-noto fw-medium text-quinary fs-7 bg-gray-customer border-0 w-100 d-flex justify-content-between align-items-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                ALPHABOX+ 與其他智能家居設備的相容性如何？
                                <span class="material-symbols-outlined fs-4 addIcon">
                                    add
                                </span>
                                <span class="material-symbols-outlined fs-4 removeIcon">
                                    remove
                                </span>
                              </button>
                              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                  <p class="text-quinary font-noto mt-2 my-lg-2 me-lg-16">
                                    首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                  </p>
                                </div>
                              </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- own js -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/faq.js"></script>
  </body>
</html>
