<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div class="h-bg-linear topBg">
      <%- include('./layout/header'); -%>
      <div class="container pt-7 pt-xl-14 d-flex flex-column align-items-center position-relative">
        <div class="w-100 mb-8 mb-xl-0 d-flex flex-column position-xl-absolute w-xl-adjust32" style="right: -220px;">
          <p class="font-noto letterspc-10 fw-bold pt-2 pt-lg-1 border-top border-1 mb-xl-24">ALPHABOX+ STUDIO</p>
          <p class="text-copyright font-noto letterspc-10 d-none d-xl-block fw-medium">Copyright © 2023 Hexschool.</p>
        </div>
        <img class="d-block whirling mb-lg-14" src="../assets/images/index/circle.svg" alt="rotate pic" style="width: 196px; height: 196px;">
        <h1 class="fw-normal text-center fs-6 fs-xl-5 letterspc-130 letterspc-xl-250 fst-italic ms-xl-20">ALPHABOX+</h1>
        <p class="fw-bold font-noto text-center letterspc-30 letterspc-xl-100 mb-8 mb-xl-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
        <a href="#" class="d-none d-xl-block pb-2 border-bottom border-1 fw-bold font-noto align-self-end position-xl-absolute" style="top: 220px; left: -220px; width: 416px;">
          最新消息！新版本 v15.4 釋出，搶先體驗！
        </a>
        <div class="w-100">
          <a href="#" class="robot mt-4 mt-xl-0 position-xl-absolute fs-5 text-center pt-4 h-boxshaw z-1 w-100 typeSide-xl" style="min-height: 351px; background: url(../assets/images/index/diane_mobile.svg) center center no-repeat; background-size: cover; left: -220px; top: 309px;">
            Diane
          </a>
          <a href="#" class="robot mt-4 mt-xl-0 position-xl-absolute fs-5 text-center pt-4 h-boxshaw z-1 w-100 typeCenter-xl" style="min-height: 351px; background: url(../assets/images/index/felix_mobile.svg) center center no-repeat; background-size: cover; left: 228px; top: 405px;">
            Felix
          </a>
          <a href="#" class="robot mt-4 mt-xl-0 position-xl-absolute fs-5 text-center pt-4 h-boxshaw z-1 w-100 typeCenter-xl" style="min-height: 351px; background: url(../assets/images/index/karina_mobile.svg) center center no-repeat; background-size: cover; right: 228px; top: 405px; margin-bottom: 263px;">
            Karina
          </a>
          <a href="#" class="robot position-absolute fs-5 text-center pt-4 h-boxshaw z-1 typeSide-xl" style="width: calc(100% - 24px); height: 351px; background: url(../assets/images/index/vito_mobile.svg) center center no-repeat; background-size: cover; top: 1524px;">
            Vito
          </a>
        </div>
      </div>

    </div>
    <div class="radialGradienStyle-1 position-xl-relative pt-xl-27 pb-xl-28 fakeLine">
      <div class="decorate position-xl-absolute start-50 translate-middle-x z-1 mx-auto" style="width: 1760px; height: 40px; background: linear-gradient(to right,#7000FF,#11002D); top: 144px;"></div>
      <div class="container position-xl-relative">
        <div class="bg position-xl-absolute" style="background: url(../assets/images/index/carousel_background.svg) center center no-repeat; background-size: cover; width: 948px; height: 1089px; left: -300px; top: -405px;"></div>
        <h2 class="fs-xl-3 fw-bold font-noto letterspc-100 position-xl-absolute mb-0" style="top: -192px; left: -220px;"><span class="d-block mb-xl-3">什麼是<br></span>ALPHABOX+</h2>
        <!-- carousel -->
        <div id="carouselIndex" class="carousel slide position-xl-relative" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item w-100 pt-xl-25 px-xl-10 active" data-bs-interval="2000" style="height: 560px; background: url(../assets/images/index/carousel-1.svg) center center no-repeat; background-size: cover;">
              <p class="fs-xl-1 fst-italic text-end">01</p>
              <h2 class="fs-xl-5 fw-bold mb-xl-4 text-end">立體投影技術</h2>
              <p class="fw-bold text-end">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
            </div>
            <div class="carousel-item w-100 pt-xl-25 px-xl-10" data-bs-interval="2000" style="height: 560px; background: url(../assets/images/index/carousel-2.jpg) center center no-repeat; background-size: cover;">
              <p class="fs-xl-1 fst-italic">02</p>
              <h2 class="fs-xl-5 fw-bold mb-xl-4">立體投影技術</h2>
              <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
            </div>
            <div class="carousel-item w-100 pt-xl-25 px-xl-10" data-bs-interval="2000" style="height: 560px; background: url(../assets/images/index/carousel-3.jpg) center center no-repeat; background-size: cover;">
              <p class="fs-xl-1 fst-italic">03</p>
              <h2 class="fs-xl-5 fw-bold mb-xl-4">立體投影技術</h2>
              <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
            </div>
          </div>
          <button class="d-none d-xl-block carousel-control-prev position-xl-absolute" style="left: -232px;" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
            <img src="../assets/images/index/arrow-previous.svg" alt="previous arrow" aria-hidden="true" class="d-block" style="width: 180px; height: 48px;">
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="d-none d-xl-block carousel-control-next position-xl-absolute" style="right: -232px;" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
            <img src="../assets/images/index/arrow-next.svg" alt="next arrow" aria-hidden="true" class="d-block" style="width: 180px; height: 48px;">
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="decorate position-xl-absolute start-50 translate-middle-x z-1 mx-auto" style="width: 1760px; height: 40px; background: linear-gradient(to left,#7000FF,#11002D); bottom: 52px;"></div>
    </div>
    <div class="radialGradienStyle-2 pt-xl-25 pb-xl-10">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <h3 class="letterspc-100 pb-xl-10">
              最新消息
            </h3>
          </div>
          <div class="col-xl-12">
            <div class="py-xl-10 border-top border-bottom px-xl-4">
              <p class="fw-bold letterspc-100 font-noto mb-xl-2"><img src="../assets/images/index/multiply-icon.svg" alt="multiply icon" class="me-xl-4" style="width: 24px; height: 24px;">2023.06.30</p>
              <p class="fs-xl-6 fw-bold letterspc-100 mb-xl-3">產品升級公告</p>
              <p class="font-noto position-xl-relative">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<a href="#" class="d-inline position-xl-absolute end-0 shake-horizontal" style="width: 196px; height: 24px;"><img src="../assets/images/index/white-arrow-196.svg" alt="arrow"></a><br> 歡迎您了解本次升級帶來的更為卓越的性能！</p>
            </div>
          </div>
          <div class="col-xl-6 border-bottom mb-xl-19 border-end">
            <div class="py-xl-10 px-xl-4">
              <p class="fw-bold letterspc-100 font-noto mb-xl-2"><img src="../assets/images/index/multiply-icon.svg" alt="multiply icon" class="me-xl-4" style="width: 24px; height: 24px;">2023.06.30</p>
              <p class="fs-xl-6 fw-bold letterspc-100 mb-xl-3">限時優惠活動</p>
              <p class="font-noto mb-xl-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
              <a href="#" class="shake-horizontal" style="width: 90px; height: 24px;"><img src="../assets/images/index/white-arrow-90.svg" alt="arrow pic"></a>
            </div>
          </div>
          <div class="col-xl-6 border-bottom mb-xl-19">
            <div class="py-xl-10 px-xl-4">
              <p class="fw-bold letterspc-100 font-noto mb-xl-2"><img src="../assets/images/index/multiply-icon.svg" alt="multiply icon" class="me-xl-4" style="width: 24px; height: 24px;">2023.04.18</p>
              <p class="fs-xl-6 fw-bold letterspc-100 mb-xl-3">新功能上線</p>
              <p class="font-noto mb-xl-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
              <a href="#" class="shake-horizontal" style="width: 90px; height: 24px;"><img src="../assets/images/index/white-arrow-90.svg" alt="arrow pic"></a>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="mb-xl-15 pb-xl-9">
              <a href="#" class="position-xl-relative mx-auto" style="width: 132px;height: 132px;">
                <p class="fw-bold position-xl-absolute start-50 top-50 translate-middle">
                  查看更多
                </p>
                <img src="../assets/images/index/circle-2.svg" alt="circle" class="mx-auto d-block whirling">
              </a>
            </div>
            <p class="fw-bold text-end">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
          </div>
        </div>
      </div>
    </div>
    <div class="radialGradienStyle-3 pt-xl-25 pb-xl-10 overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <h3 class="letterspc-100 mb-xl-4 d-flex align-items-center">使用分享</h3>
            <p class="font-noto fw-bold">01<span class="mx-1">—</span>04</p>
          </div>
          <div class="col-xl-7">
            <p class="fw-bold mt-xl-6">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <div class="col-xl-12 mt-xl-10 mb-xl-6">
            <img src="../assets/images/index/multiply-icon.svg" alt="multiply icon" style="width: 80px;height: 80px;">
          </div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="container">
          <!-- Slider main container -->
          <div class="swiper index-swiper mb-xl-28">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide d-flex flex-column p-xl-10 bg-quaternary" style="width: 416px; height: 416px;">
                <p class="font-noto fw-bold mb-xl-8">Zona <span class="mx-xl-2">・</span> Taipei</p>
                <p class="font-noto fw-bold">
                  ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。
                  它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                </p>
                <p class="font-noto fw-bold mt-auto d-flex align-items-center">
                  <img src="../assets/images/index/Ellipse-white.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4"><img src="../assets/images/index/Ellipse-white.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4">
                  ALPHABOX+ Dianne
                </p>
              </div>
              <div class="swiper-slide d-flex flex-column p-xl-10 bg-white text-black" style="width: 416px; height: 416px;">
                <p class="font-noto fw-bold mb-xl-8">Lin <span class="mx-xl-2">・</span>Chiayi</p>
                <p class="font-noto fw-bold">
                  非常推薦！它的畫面清晰度超高，
                  真的讓我驚艷不已。
                  而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                </p>
                <p class="font-noto fw-bold mt-auto d-flex align-items-center">
                  <img src="../assets/images/index/Ellipse-black.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4"><img src="../assets/images/index/Ellipse-black.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4">
                  ALPHABOX+ Felix
                </p>
              </div>
              <div class="swiper-slide d-flex flex-column p-xl-10 bg-quaternary" style="width: 416px; height: 416px;">
                <p class="font-noto fw-bold mb-xl-8">云<span class="mx-xl-2">・</span>Taipei</p>
                <p class="font-noto fw-bold">
                  我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。
                  它不僅僅是一個機器人，更像是一個真正的朋友，
                  陪著我分享喜怒哀樂。真的很讚！
                </p>
                <p class="font-noto fw-bold mt-auto d-flex align-items-center">
                  <img src="../assets/images/index/Ellipse-white.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4"><img src="../assets/images/index/Ellipse-white.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4">
                  ALPHABOX+ Dianne
                </p>
              </div>
              <div class="swiper-slide d-flex flex-column p-xl-10 bg-white text-black" style="width: 416px; height: 416px;">
                <p class="font-noto fw-bold mb-xl-8">Zichi<span class="mx-xl-2">・</span>Kaohsiung</p>
                <p class="font-noto fw-bold">
                  讓我在忙碌的工作之餘，
                  也能找到休閒的樂趣。它的互動功能非常有趣，
                  讓我在短短的時間內就愛上了它。給它一百分！
                </p>
                <p class="font-noto fw-bold mt-auto d-flex align-items-center">
                  <img src="../assets/images/index/Ellipse-black.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4"><img src="../assets/images/index/Ellipse-black.svg" alt="ellipse icon" style="width: 16px;height: 16px;" class="me-xl-4">
                  ALPHABOX+ Vito
                </p>
              </div>
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <div class="row mt-xl-9 align-items-center">
              <div class="col-xl-8">
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar position-xl-static"></div>
              </div>
              <div class="col-xl-1 fw-bold font-noto">SCROLL</div>
            </div>
          </div>
          <p class="fw-bold">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
        </div>
      </div>
      <div class="container position-xl-relative">
        <p class="fst-italic position-xl-absolute" style="opacity: 0.04; font-size: 400px; top: -327px; left: -607px;">ALPHABOX+</p>
      </div>
    </div>
    <div class="bg-quinary py-xl-24">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <h2 class="mb-xl-8">聯絡我們</h2>
            <div class="img-group mb-xl-13">
              <img src="../assets/images/index/Ellipse-white.svg" alt="ellipse icon" class="me-xl-2" style="width: 12px; height: 12px;"><img src="../assets/images/index/white-Line 14.svg" alt="white line pic" style="width: 124px; height: 12px;">
            </div>
            <p class="fw-bold mb-xl-1">讓科技成為您的最佳夥伴</p>
            <p class="fw-bold">立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-xl-7">
            <img src="../assets/images/index/multiply-icon.svg" alt="multiply icon" class="mb-xl-4" style="width: 80px;height: 80px;">
            <form>
              <div class="form-floating font-noto fs-xl-6 mb-4">
                <input type="email" class="form-control" id="mail" placeholder="name@example.com" aria-describedby="emailHelp">
                <label for="mail" class="pt-2 ps-4">EMAIL</label>
              </div>
              <div class="form-floating font-noto fs-xl-6 mb-4">
                <textarea class="form-control" placeholder="textarea" id="FormControlTextarea1" style="height: 120px;"></textarea>
                <label for="FormControlTextarea1" class="pt-2 ps-4"> COMMENTS</label>
              </div>
              <div class="col-xl-4">
                <button type="submit" class="btn btn-tertiary fw-medium w-100 py-2 border-0 rounded-sm d-inline-flex align-items-center justify-content-center"><img src="../assets/images/index/subsription-white.png" alt="subsription-white-icon" class=" me-1" style="width: 24px; height: 24px; vertical-align: middle;">送出</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container position-xl-relative" style="height: 876px;">
      <div class="row">
        <div class="col">
          <div class="product px-xl-10 pt-xl-6 pb-xl-14 background-blend-mode position-xl-absolute border-end" style="width: 480px; height: 876px; background: url(../assets/images/index/diane_vertical.png) center center no-repeat black; background-size: cover; left: -300px; top: 0;">
            <p class="text-center fs-xl-0 mb-xl-5 font-saira fw-light">1</p>
            <p class="text-center fs-xl-5 mb-xl-20">Diane</p>
            <div class="d-flex justify-content-between">
              <div>
                <p class="fw-bold">知識型</p>
                <p>學術領導/知識分享/智能問答</p>
              </div>
              <img src="../assets/images/index/white-arrow-155.svg" alt="arrow pic" class="align-self-end" style="width: 155px; height: 24px;">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product px-xl-10 pt-xl-6 pb-xl-14 background-blend-mode position-xl-absolute border-end" style="width: 480px; height: 876px; background: url(../assets/images/index/felix_vertical.png) center center no-repeat black; background-size: cover; left: 180px; top: 0;">
            <p class="text-center fs-xl-0 mb-xl-5 font-saira fw-light">2</p>
            <p class="text-center fs-xl-5 mb-xl-20">Felix</p>
            <div class="d-flex justify-content-between">
              <div>
                <p class="fw-bold">娛樂型</p>
                <p>音樂播放/語音互動/遊戲陪伴</p>
              </div>
              <img src="../assets/images/index/white-arrow-155.svg" alt="arrow pic" class="align-self-end" style="width: 155px; height: 24px;">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product px-xl-10 pt-xl-6 pb-xl-14 background-blend-mode position-xl-absolute border-end" style="width: 480px; height: 876px; background: url(../assets/images/index/karina_verticalgle.png) center center no-repeat black; background-size: cover; left: 660px; top: 0;">
            <p class="text-center fs-xl-0 mb-xl-5 font-saira fw-light">3</p>
            <p class="text-center fs-xl-5 mb-xl-20">Karina</p>
            <div class="d-flex justify-content-between">
              <div>
                <p class="fw-bold">生活型</p>
                <p>健康提醒/日程安排/智能家居</p>
              </div>
              <img src="../assets/images/index/white-arrow-155.svg" alt="arrow pic" class="align-self-end" style="width: 155px; height: 24px;">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="product px-xl-10 pt-xl-6 pb-xl-14 background-blend-mode position-xl-absolute" style="width: 480px; height: 876px; background: url(../assets/images/index/vito_vertical.png) center center no-repeat black; background-size: cover; left: 1140px; top: 0;">
            <p class="text-center fs-xl-0 mb-xl-5 font-saira fw-light">4</p>
            <p class="text-center fs-xl-5 mb-xl-20">Vito</p>
            <div class="d-flex justify-content-between">
              <div>
                <p class="fw-bold">情感型</p>
                <p>情感識別/心情分析/心靈支持</p>
              </div>
              <img src="../assets/images/index/white-arrow-155.svg" alt="arrow pic" class="align-self-end" style="width: 155px; height: 24px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/index.js"></script>
  </body>
</html>
