<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div class="bg" style="background: url(../assets/images/index/index-top-bg.svg) center center no-repeat; background-size: cover; height: 960px;">
      <%- include('./layout/header'); -%>
      <div class="container pt-14 d-flex flex-column align-items-center position-xl-relative">
        <div class="d-flex flex-column position-xl-absolute" style="width: 416px; right: -220px;">
          <p class="text-white font-noto letterspc-10 fw-bold pt-lg-1 border-top border-1 mb-xl-24">ALPHABOX+ STUDIO</p>
          <p class="text-copyright font-noto letterspc-10 d-none d-xl-block fw-medium">Copyright © 2023 Hexschool.</p>
        </div>
        <img class="d-block whirling mb-lg-14" src="../assets/images/index/circle.svg" alt="rotate pic" style="width: 196px; height: 196px;">
        <h1 class="text-white fw-normal text-center fs-xl-5 letterspc-500 fst-italic ms-20">ALPHABOX+</h1>
        <p class="text-white fw-bold font-noto letterspc-1">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
        <a href="#" class="pb-2 border-bottom border-1 text-white fw-bold font-noto align-self-end position-xl-absolute" style="top: 220px; left: -220px; width: 416px;">
          最新消息！新版本 v15.4 釋出，搶先體驗！
        </a>
        <a href="#" class="position-xl-absolute fs-xl-5 text-center pt-xl-4 boxshaw" style="width: 416px; height: 676px; background: url(../assets/images/index/diane.svg) center center no-repeat;">
          Diane
        </a>
        <a href="#" class="position-xl-absolute fs-xl-5 text-center pt-xl-4 boxshaw" style="width: 416px; height: 580px; background: url(../assets/images/index/felix.svg) center center no-repeat;">
          Felix
        </a>
        <a href="#" class="position-xl-absolute fs-xl-5 text-center pt-xl-4 boxshaw" style="width: 416px; height: 580px; background: url(../assets/images/index/karina.svg) center center no-repeat;">
          Karina
        </a>
        <a href="#" class="position-xl-absolute fs-xl-5 text-center pt-xl-4 boxshaw" style="width: 416px; height: 676px; background: url(../assets/images/index/vito.svg) center center no-repeat;">
          Vito
        </a>
      </div>

    </div>

    
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
