<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- customer -->
    <title>AI 虛擬陪伴 Login</title>
    <link rel="shirt icon" href="../assets/images/web-icon.png">
    <meta name="description" content="AI 虛擬陪伴">
    <meta name="keywords" content="AI虛擬陪伴,Red,Tsai">
    <meta property="og:title" content="AI 虛擬陪伴 by Red Tsai">
    <meta property="og:description" content="AI 虛擬陪伴 by Red Tsai">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/cut-class-week8/">
    <meta property="og:image" content="https://i.imgur.com/qUhQiR6.jpg">
    <link rel="apple-touch-icon" href="../assets/images/web-icon.png">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="login">
        <div class="h-radialGradienStyle-2 pt-lg-15">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <h1 class="fs-lg-2 fw-heavy letterspc-100 mb-lg-0">登入</h1>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="d-flex flex-column align-items-center">
                            <img src="../assets/images/login/circle.svg" alt="whirling pic" class="whirling mb-lg-6" style="width: 196px; height: 196px;">
                            <img src="../assets/images/login/ALPHABOX+.svg" alt="logo" class="logo mb-lg-8">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- own js -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/contact.js"></script>
  </body>
</html>
